openapi: 3.2.0
info:
  title: Platform Service API
  description: APIs for platform resources including alerts, applications, NHIs, channels, service providers, etc.
  version: 0.1.0
  contact:
    email: support@channelseal.com
servers:
- url: https://api.channelseal.com/platform
  description: prod server
- url: https://uat.channelseal.com/platform
  description: uat server
- url: https://staging.channelseal.com/platform
  description: staging server
tags:
- name: Service
  description: Service API
paths:
  /api/v1/services/{id}:
    get:
      tags:
      - Service
      summary: Get service
      operationId: getServiceById
      x-internal: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
      - Service
      summary: Update service
      operationId: updateService
      x-internal: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Service
      summary: Delete service
      operationId: deleteService
      x-internal: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Successful
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/services:
    get:
      tags:
      - Service
      summary: Get all services
      operationId: getServices
      x-internal: true
      parameters:
      - name: serviceProviderId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: apiId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: uriPath
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Service
      summary: Delete all services
      operationId: deleteAllServices
      x-internal: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
components:
  schemas:
    ServicePagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Service'
        page:
          $ref: components.yaml#/components/schemas/PageMetadata
    Service:
      $ref: components.yaml#/components/schemas/Service
    ProblemDetail:
      $ref: components.yaml#/components/schemas/ProblemDetail
