openapi: 3.2.0
info:
  title: Platform Channel API
  description: APIs for platform resources including alerts, applications, NHIs, channels, service providers, etc.
  version: 0.1.0
  contact:
    email: support@channelseal.com
servers:
- url: https://api.channelseal.com/platform
  description: prod server
- url: https://uat.channelseal.com/platform
  description: uat server
- url: https://staging.channelseal.com/platform
  description: staging server
tags:
- name: Channel
  description: Channel API
paths:
  /api/v1/channels/{id}:
    get:
      tags:
      - Channel
      summary: Get channel
      operationId: getChannelById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
      - Channel
      summary: Update channel
      operationId: updateChannel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Channel
      summary: Delete channel
      operationId: deleteChannel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/channels:
    get:
      tags:
      - Channel
      summary: Get all channels
      operationId: getAllChannels
      parameters:
      - name: sensitive
        in: query
        required: false
        schema:
          type: boolean
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: uri
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: protocol
        in: query
        required: false
        schema:
          type: string
      - name: apiId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: service
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelPagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Channel
      summary: Delete all channels
      operationId: deleteAllChannels
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/channels/{id}/non-human-identities:
    get:
      tags:
      - Channel
      summary: Get NHIs using Channel
      operationId: getNonHumanIdentities_1
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentityPagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/channels/search:
    get:
      tags:
      - Channel
      summary: Search channels
      operationId: searchChannels
      parameters:
      - name: uri
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: protocol
        in: query
        required: false
        schema:
          type: string
      - name: apiId
        in: query
        required: false
        schema:
          type: string
      - name: service
        in: query
        required: false
        schema:
          type: string
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelPagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
components:
  schemas:
    NonHumanIdentityPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/NonHumanIdentity'
        page:
          $ref: components.yaml#/components/schemas/PageMetadata
    NonHumanIdentity:
      $ref: components.yaml#/components/schemas/NonHumanIdentity
    ProblemDetail:
      $ref: components.yaml#/components/schemas/ProblemDetail
    Channel:
      $ref: components.yaml#/components/schemas/Channel
    ChannelPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
        page:
          $ref: components.yaml#/components/schemas/PageMetadata
