openapi: 3.2.0
info:
  title: Platform Non Human Identity API
  description: APIs for platform resources including alerts, applications, NHIs, channels, service providers, etc.
  version: 0.1.0
  contact:
    email: support@channelseal.com
servers:
- url: https://api.channelseal.com/platform
  description: prod server
- url: https://uat.channelseal.com/platform
  description: uat server
- url: https://staging.channelseal.com/platform
  description: staging server
tags:
- name: Non Human Identity
  description: Non Human Identity API
paths:
  /api/v1/non-human-identities/{id}:
    get:
      tags:
      - Non Human Identity
      summary: Get NHI
      operationId: getNhiById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentity'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
      - Non Human Identity
      summary: Update NHI
      operationId: updateNonHumanIdentity
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NonHumanIdentity'
        required: true
      responses:
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/non-human-identities:
    get:
      tags:
      - Non Human Identity
      summary: Get all NHIs
      operationId: getAll
      parameters:
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      - name: infoTypeId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: infoGroupId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: classificationId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: serviceProviderId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentityPagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    post:
      tags:
      - Non Human Identity
      summary: Create NHI
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NonHumanIdentity'
        required: true
      responses:
        '201':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentity'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/non-human-identities/{id}/applications/{application-id}:
    post:
      tags:
      - Non Human Identity
      summary: Add Application
      operationId: addApplication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: application-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentity'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Non Human Identity
      summary: Remove Application
      operationId: removeApplication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: application-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentity'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/non-human-identities/{id}/applications:
    get:
      tags:
      - Non Human Identity
      summary: Get applications using NHI
      operationId: getApplications_1
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/non-human-identities/search:
    get:
      tags:
      - Non Human Identity
      summary: Search NHIs
      operationId: getNonHumanIdentities
      parameters:
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      - name: infoTypeId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: infoGroupId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: classificationId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: serviceProviderId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentityPagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
components:
  schemas:
    NonHumanIdentityPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/NonHumanIdentity'
        page:
          $ref: components.yaml#/components/schemas/PageMetadata
    NonHumanIdentity:
      $ref: components.yaml#/components/schemas/NonHumanIdentity
    Application:
      $ref: components.yaml#/components/schemas/Application
    ProblemDetail:
      $ref: components.yaml#/components/schemas/ProblemDetail
    ApplicationPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        page:
          $ref: components.yaml#/components/schemas/PageMetadata
