openapi: 3.2.0
info:
  title: Platform Sensitive Data Element API
  description: APIs for platform resources including alerts, applications, NHIs, channels, service providers, etc.
  version: 0.1.0
  contact:
    email: support@channelseal.com
servers:
- url: https://api.channelseal.com/platform
  description: prod server
- url: https://uat.channelseal.com/platform
  description: uat server
- url: https://staging.channelseal.com/platform
  description: staging server
tags:
- name: Sensitive Data Element
  description: Sensitive Data Element API
paths:
  /api/v1/sensitive-data-elements/{id}:
    get:
      tags:
      - Sensitive Data Element
      summary: Get sensitive data element
      operationId: getSensitiveDataElementById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataElement'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
      - Sensitive Data Element
      summary: Update sensitive data element
      operationId: updateSensitiveDataElement
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensitiveDataElement'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataElement'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Sensitive Data Element
      summary: Delete sensitive data element
      operationId: deleteSensitiveDataElementById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Successful
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/sensitive-data-elements:
    get:
      tags:
      - Sensitive Data Element
      summary: Get all sensitive data elements
      operationId: getAllSensitiveDataElements
      parameters:
      - name: channelId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: serviceId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: serviceProviderId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: infoTypeId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: infoGroupId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: classificationId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataElementPagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Sensitive Data Element
      summary: Delete all sensitive data elements
      operationId: deleteAllSensitiveDataElements
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/sensitive-data-elements/search:
    get:
      tags:
      - Sensitive Data Element
      summary: Search sensitive data elements
      operationId: searchSensitiveDataElements
      parameters:
      - name: channelId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: serviceId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: serviceProviderId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: infoTypeId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: infoGroupId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: classificationId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataElementPagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
components:
  schemas:
    SensitiveDataElementPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/SensitiveDataElement'
        page:
          $ref: components.yaml#/components/schemas/PageMetadata
    ProblemDetail:
      $ref: components.yaml#/components/schemas/ProblemDetail
    SensitiveDataElement:
      $ref: components.yaml#/components/schemas/SensitiveDataElement
