openapi: 3.2.0
info:
  title: Data Classification Sensitive Info Type API
  description: APIs to manage data classification resources
  version: 0.1.0
  contact:
    email: support@channelseal.com
servers:
- url: https://api.channelseal.com/platform
  description: prod server
- url: https://uat.channelseal.com/platform
  description: uat server
- url: https://staging.channelseal.com/platform
  description: staging server
tags:
- name: Sensitive Info Type
  description: Sensitive Info Type API
  externalDocs:
    description: Website
    url: https://www.channelseal.com
paths:
  /api/v1/infotypes/{id}:
    get:
      tags:
      - Sensitive Info Type
      summary: Get sensitive info type
      operationId: getInfoTypeById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveInfoType'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
      - Sensitive Info Type
      summary: Update sensitive info type
      operationId: updateInfoType
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensitiveInfoType'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveInfoType'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Sensitive Info Type
      summary: Delete sensitive info type
      operationId: deleteInfoType
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Successful
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/infotypes:
    get:
      tags:
      - Sensitive Info Type
      summary: Get all sensitive info types
      operationId: getInfoTypes
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: infoGroupId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: classificationId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: apiId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: applicationId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveInfoTypePagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    post:
      tags:
      - Sensitive Info Type
      summary: Create sensitive info type
      operationId: createInfoType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensitiveInfoType'
        required: true
      responses:
        '201':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveInfoType'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
      - Sensitive Info Type
      summary: Delete all sensitive info types
      operationId: deleteInfoTypes
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/infotypes/search:
    get:
      tags:
      - Sensitive Info Type
      summary: Search sensitive info types
      operationId: searchSensitiveInfoTypes
      parameters:
      - name: infoGroupId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: classificationId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          default: updatedAt
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
          default: DESC
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveInfoTypePagedModel'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
components:
  schemas:
    SensitiveInfoTypePagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/SensitiveInfoType'
        page:
          $ref: components.yaml#/components/schemas/PageMetadata
    ProblemDetail:
      $ref: components.yaml#/components/schemas/ProblemDetail
    SensitiveInfoType:
      $ref: components.yaml#/components/schemas/SensitiveInfoType
