openapi: 3.1.0
info:
  title: Platform APIs
  description: APIs for platform resources including alerts, applications, NHIs, channels, service providers, etc.
  version: 0.1.0
  contact:
    email: support@channelseal.com
servers:
  - url: https://api.channelseal.com/platform
    description: prod server
  - url: https://uat.channelseal.com/platform
    description: uat server
  - url: https://staging.channelseal.com/platform
    description: staging server
tags:
  - name: Summary Discvoery Metrics
    description: Summary Discovery Metrics API
  - name: AuditEvent
    description: AuditEvent API
  - name: Application
    description: Application API
  - name: Service Provider
    description: Service Provider API
  - name: Sensitive Data Element
    description: Sensitive Data Element API
  - name: Alert
    description: Alert API
  - name: Channel
    description: Channel API
  - name: Non Human Identity
    description: Non Human Identity API
  - name: Service
    description: Service API
  - name: Monitor
    description: Monitor and interact
    externalDocs:
      description: Website
      url: https://www.channelseal.com

paths:
  /api/v1/services/{id}:
    get:
      tags:
        - Service
      summary: Get service
      operationId: getServiceById
      x-internal: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Service
      summary: Update service
      operationId: updateService
      x-internal: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
        required: true
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Service
      summary: Delete service
      operationId: deleteService
      x-internal: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/serviceproviders/{id}:
    get:
      tags:
        - Service Provider
      summary: Get service provider
      operationId: getServiceProviderById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProvider'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Service Provider
      summary: Update service provider
      operationId: updateServiceProvider
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceProvider'
        required: true
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProvider'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Service Provider
      summary: Delete service provider
      operationId: deleteServiceProvider
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/sensitive-data-elements/{id}:
    get:
      tags:
        - Sensitive Data Element
      summary: Get sensitive data element
      operationId: getSensitiveDataElementById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataElement'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Sensitive Data Element
      summary: Update sensitive data element
      operationId: updateSensitiveDataElement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensitiveDataElement'
        required: true
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataElement'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Sensitive Data Element
      summary: Delete sensitive data element
      operationId: deleteSensitiveDataElementById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/non-human-identities/{id}:
    get:
      tags:
        - Non Human Identity
      summary: Get NHI
      operationId: getNhiById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentity'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Non Human Identity
      summary: Update NHI
      operationId: updateNonHumanIdentity
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NonHumanIdentity'
        required: true
      responses:
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/channels/{id}:
    get:
      tags:
        - Channel
      summary: Get channel
      operationId: getChannelById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Channel
      summary: Update channel
      operationId: updateChannel
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Channel
      summary: Delete channel
      operationId: deleteChannel
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/applications/{id}:
    get:
      tags:
        - Application
      summary: Get application
      operationId: getApplicationById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Application
      summary: Update application
      operationId: updateApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Application
      summary: Delete application
      operationId: deleteApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/alerts/{id}:
    get:
      tags:
        - Alert
      summary: Get alert
      operationId: getAlertById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Alert
      summary: Update alert
      operationId: updateAlert
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
        required: true
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Alert
      summary: Delete alert
      operationId: deleteAlert
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: hard
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "204":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/services:
    get:
      tags:
        - Service
      summary: Get all services
      operationId: getServices
      x-internal: true
      parameters:
        - name: serviceProviderId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: apiId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: uriPath
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Service
      summary: Delete all services
      operationId: deleteAllServices
      x-internal: true
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/serviceproviders:
    get:
      tags:
        - Service Provider
      summary: Get all service providers
      operationId: getAllServiceProviders
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: infoTypeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoGroupId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: classificationId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProviderPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Service Provider
      summary: Delete all service providers
      operationId: deleteAllServiceProviders
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/sensitive-data-elements:
    get:
      tags:
        - Sensitive Data Element
      summary: Get all sensitive data elements
      operationId: getAllSensitiveDataElements
      parameters:
        - name: channelId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: serviceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: serviceProviderId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoTypeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoGroupId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: classificationId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataElementPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Sensitive Data Element
      summary: Delete all sensitive data elements
      operationId: deleteAllSensitiveDataElements
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/non-human-identities:
    get:
      tags:
        - Non Human Identity
      summary: Get all NHIs
      operationId: getAll
      parameters:
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: infoTypeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoGroupId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: classificationId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: serviceProviderId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentityPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    post:
      tags:
        - Non Human Identity
      summary: Create NHI
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NonHumanIdentity'
        required: true
      responses:
        "201":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentity'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /api/v1/non-human-identities/{id}/applications/{application-id}:
    post:
      tags:
        - Non Human Identity
      summary: Add Application
      operationId: addApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: application-id
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentity'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Non Human Identity
      summary: Remove Application
      operationId: removeApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: application-id
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentity'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/channels:
    get:
      tags:
        - Channel
      summary: Get all channels
      operationId: getAllChannels
      parameters:
        - name: sensitive
          in: query
          required: false
          schema:
            type: boolean
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: uri
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: protocol
          in: query
          required: false
          schema:
            type: string
        - name: apiId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: service
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Channel
      summary: Delete all channels
      operationId: deleteAllChannels
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/audit-events:
    get:
      tags:
        - AuditEvent
      summary: Get all audit events
      operationId: getAllAuditEvents
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsealEventPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - AuditEvent
      summary: Delete all AuditEvents
      operationId: deleteAllAuditEvents
      x-internal: true
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/applications:
    get:
      tags:
        - Application
      summary: Get all applications
      operationId: getApplications
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: domain
          in: query
          required: false
          schema:
            type: string
        - name: businessOwnerName
          in: query
          required: false
          schema:
            type: string
        - name: technicalOwnerName
          in: query
          required: false
          schema:
            type: string
        - name: infoTypeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoGroupId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: classificationId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    post:
      tags:
        - Application
      summary: Create application
      operationId: createApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
      responses:
        "201":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Application
      summary: Delete all applications
      operationId: deleteAllApplications
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: domain
          in: query
          required: false
          schema:
            type: string
        - name: businessOwnerName
          in: query
          required: false
          schema:
            type: string
        - name: technicalOwnerName
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/alerts:
    get:
      tags:
        - Alert
      summary: Get all alerts
      operationId: getAlerts
      parameters:
        - name: severity
          in: query
          required: false
          schema:
            type: string
            enum:
              - INFO
              - LOW
              - MEDIUM
              - HIGH
              - CRITICAL
        - name: id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: timestamp
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: pageable
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Pageable'
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Alert
      summary: Delete all alerts
      operationId: deleteAlerts
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: hard
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/serviceproviders/search:
    get:
      tags:
        - Service Provider
      summary: Search service providers
      operationId: searchServiceProviders
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: infoTypeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoGroupId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: classificationId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProviderPagedModel'
  /api/v1/sensitive-data-elements/search:
    get:
      tags:
        - Sensitive Data Element
      summary: Search sensitive data elements
      operationId: searchSensitiveDataElements
      parameters:
        - name: channelId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: serviceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: serviceProviderId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoTypeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoGroupId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: classificationId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitiveDataElementPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/non-human-identities/{id}/applications:
    get:
      tags:
        - Non Human Identity
      summary: Get applications using NHI
      operationId: getApplications_1
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/non-human-identities/search:
    get:
      tags:
        - Non Human Identity
      summary: Search NHIs
      operationId: getNonHumanIdentities
      parameters:
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: infoTypeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: infoGroupId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: classificationId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: serviceProviderId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentityPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/dashboard/discovered:
    get:
      tags:
        - Summary Discovery Metrics
      summary: Get all metrics for portal dashboard
      operationId: getDiscoveredMetrics
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/channels/{id}/non-human-identities:
    get:
      tags:
        - Channel
      summary: Get NHIs using Channel
      operationId: getNonHumanIdentities_1
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentityPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/channels/search:
    get:
      tags:
        - Channel
      summary: Search channels
      operationId: searchChannels
      parameters:
        - name: uri
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: protocol
          in: query
          required: false
          schema:
            type: string
        - name: apiId
          in: query
          required: false
          schema:
            type: string
        - name: service
          in: query
          required: false
          schema:
            type: string
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/audit-events/{id}:
    get:
      tags:
        - AuditEvent
      summary: Get audit event by id
      operationId: getAuditEventById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsealEvent'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - AuditEvent
      summary: Delete AuditEvent by id
      operationId: deleteAuditEvent
      x-internal: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/audit-events/search:
    get:
      tags:
        - AuditEvent
      summary: Search audit events
      operationId: searchAuditEvents
      parameters:
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
        - name: correlationId
          in: query
          required: false
          schema:
            type: string
        - name: clientId
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsealEventPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/applications/{id}/non-human-identities:
    get:
      tags:
        - Application
      summary: Get associated NHIs from Application
      operationId: getNhisFromApplicationId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonHumanIdentityPagedModel'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /actuator:
    get:
      tags:
        - Monitor
      summary: Monitor root endpoint
      operationId: links
      responses:
        "200":
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Link'
            application/vnd.spring-boot.actuator.v2+json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Link'
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Link'
  /actuator/prometheus:
    get:
      tags:
        - Monitor
      summary: Monitor endpoint 'prometheus'
      operationId: scrape
      x-internal: true
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum:
              - CONTENT_TYPE_004
              - CONTENT_TYPE_OPENMETRICS_100
              - CONTENT_TYPE_PROTOBUF
        - name: includedNames
          in: query
          schema: {}
      responses:
        "200":
          description: OK
          content:
            text/plain;version=0.0.4;charset=utf-8:
              schema: {}
            application/openmetrics-text;version=1.0.0;charset=utf-8:
              schema: {}
            application/vnd.google.protobuf;proto=io.prometheus.client.MetricFamily;encoding=delimited:
              schema: {}
  /actuator/metrics:
    get:
      tags:
        - Monitor
      summary: Monitor endpoint 'metrics'
      operationId: listNames
      responses:
        "200":
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema: {}
            application/vnd.spring-boot.actuator.v2+json:
              schema: {}
            application/json:
              schema: {}
  /actuator/metrics/{requiredMetricName}:
    get:
      tags:
        - Monitor
      summary: Monitor endpoint 'metrics-requiredMetricName'
      operationId: metric
      parameters:
        - name: requiredMetricName
          in: path
          required: true
          schema:
            type: string
        - name: tag
          in: query
          schema: {}
      responses:
        "200":
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema: {}
            application/vnd.spring-boot.actuator.v2+json:
              schema: {}
            application/json:
              schema: {}
        "404":
          description: Not Found
  /actuator/info:
    get:
      tags:
        - Monitor
      summary: Monitor endpoint 'info'
      operationId: info
      responses:
        "200":
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema: {}
            application/vnd.spring-boot.actuator.v2+json:
              schema: {}
            application/json:
              schema: {}
  /actuator/health:
    get:
      tags:
        - Monitor
      summary: Monitor endpoint 'health'
      operationId: health
      responses:
        "200":
          description: OK
          content:
            application/vnd.spring-boot.actuator.v3+json:
              schema: {}
            application/vnd.spring-boot.actuator.v2+json:
              schema: {}
            application/json:
              schema: {}
components:
  schemas:
    Alert:
      $ref: 'components.yaml#/components/schemas/Alert'
    Application:
      $ref: 'components.yaml#/components/schemas/Application'
    ChannelsealEvent:
      $ref: 'components.yaml#/components/schemas/ChannelsealEvent'
    Channel:
      $ref: 'components.yaml#/components/schemas/Channel'
    NonHumanIdentity:
      $ref: 'components.yaml#/components/schemas/NonHumanIdentity'
    SensitiveDataElement:
      $ref: 'components.yaml#/components/schemas/SensitiveDataElement'
    Service:
      $ref: 'components.yaml#/components/schemas/Service'
    ServiceProvider:
      $ref: 'components.yaml#/components/schemas/ServiceProvider'
    AlertPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    ApplicationPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    ChannelPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    ChannelsealEventPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ChannelsealEvent'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    NonHumanIdentityPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/NonHumanIdentity'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    ServicePagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Service'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    ServiceProviderPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ServiceProvider'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    SensitiveDataElementPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/SensitiveDataElement'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    ProblemDetail:
      $ref: 'components.yaml#/components/schemas/ProblemDetail'
    Pageable:
      $ref: 'components.yaml#/components/schemas/Pageable'
    PagedModel:
      $ref: 'components.yaml#/components/schemas/PagedModel'
    Link:
      $ref: 'components.yaml#/components/schemas/Link'
    securitySchemes:
      security_auth:
        type: oauth2
        flows:
          clientCredentials:
            tokenUrl: https://dev-channelseal.us.auth0.com/oauth/token
            scopes: {}
