openapi: 3.1.0
info:
  title: API Discovery Service API
  description: API Discovery Service to discover and manage APIs
  version: 0.1.0
  contact:
    email: support@channelseal.com
servers:
  - url: https://api.channelseal.com/platform
    description: prod server
  - url: https://uat.channelseal.com/platform
    description: uat server
  - url: https://staging.channelseal.com/platform
    description: staging server
tags:
  - name: Api
    description: API Discovery Service API
    externalDocs:
      description: Website
      url: https://www.channelseal.com
paths:
  /api/v1/apis/{id}:
    get:
      tags:
        - Api
      summary: Get API by id
      operationId: getApiById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    put:
      tags:
        - Api
      summary: Update API
      operationId: updateApi
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api'
        required: true
      responses:
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Api
      summary: Delete API by id
      operationId: deleteApi
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Successful
          content:
            application/json:
              schema:
                type: string
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/apis:
    get:
      tags:
        - Api
      summary: Get all APIs
      operationId: getAllApis
      parameters:
        - name: specification
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: domain
          in: query
          required: false
          schema:
            type: string
        - name: serviceProviderId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: securityScheme
          in: query
          required: false
          schema:
            type: string
        - name: sourceMethod
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
    delete:
      tags:
        - Api
      summary: Delete all APIs
      operationId: deleteAllApis
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  /api/v1/apis/search:
    get:
      tags:
        - Api
      summary: Search APIs
      operationId: searchApis
      parameters:
        - name: specification
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: domain
          in: query
          required: false
          schema:
            type: string
        - name: serviceProviderId
          in: query
          required: false
          schema:
            type: string
        - name: securityScheme
          in: query
          required: false
          schema:
            type: string
        - name: sourceMethod
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: updatedAt
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            default: DESC
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPagedModel'
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
components:
  schemas:
    Api:
      $ref: 'components.yaml#/components/schemas/Api'
    ProblemDetail:
      $ref: 'components.yaml#/components/schemas/ProblemDetail'
    ApiPagedModel:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Api'
        page:
          $ref: 'components.yaml#/components/schemas/PageMetadata'
    securitySchemes:
      security_auth:
        type: oauth2
        flows:
          clientCredentials:
            tokenUrl: https://dev-channelseal.us.auth0.com/oauth/token
            scopes: {}